@import '../../../assets/styles/responsive.scss';

.container {
  width: 100%;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;

  @include mediaTablet {
    width: 720px;
    margin: 0 auto;
  }

  @include mediaDesktop {
    width: 1140px;
  }
}
