.field {
  width: 100%;
}

.label {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid black;
  outline: none;
}
