@import '../../../assets/styles/responsive.scss';

.reminder {
  display: grid;
  gap: 15px;

  @include mediaTablet {
    grid-template-columns: 2fr 1fr auto;
  }
}

.submit {
  display: flex;
  align-items: flex-end;
}
