$breakpointTablet: 768px;
$breakpointDesktop: 1200px;

@mixin mediaTablet {
  @media screen and (min-width: $breakpointTablet) {
    @content;
  }
}

@mixin mediaDesktop {
  @media screen and (min-width: $breakpointDesktop) {
    @content;
  }
}
