@import '../../../assets/styles/responsive.scss';

.event {
  border-radius: 8px;
  padding: 10px;
  background: #ddd;

  @include mediaTablet {
    display: flex;
  }

  .remaining {
    margin-bottom: 10px;

    @include mediaTablet {
      margin-bottom: 0;
      flex: 0 0 auto;
      min-width: 150px;
    }
  }

  .name {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 15px 0;

    @include mediaTablet {
      margin: 0;
      flex: 1 1 100%;
    }
  }

  .remove {
    @include mediaTablet {
      flex: 0 0 auto;
    }
  }
}

.background-red {
  background-color: #d88;
}

.background-green {
  background-color: #8d8;
}

.background-yellow {
  background-color: #dd8;
}
